<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="app.css" rel="stylesheet"/>
</head>
<body ng-app="app">

<div ng-controller="instantSearchController">
    <div class="bar">
        <input type="text" ng-model="searchString" placeholder="Enter your search terms"/>
    </div>
    <ul>
        <li ng-repeat="item in items | searchFor:searchString">
            <a href="{{item.url}}"><img src="{{item.image}}"/></a>
            <p>{{item.title}}</p>
        </li>
    </ul>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="filters.js"></script>
</body>
</html>