<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="app.css" type="text/css" rel="stylesheet"/>
</head>
<body ng-app>
<div id="main">
    <nav class="{{active}}" ng-click="$event.preventDefault()">
        <a href="#" class="home" ng-click="active='home'">home</a>
        <a href="#" class="projects" ng-click="active='projects'">projects</a>
        <a href="#" class="services" ng-click="active='services'">services</a>
        <a href="#" class="contact" ng-click="active='contact'">contact</a>
    </nav>
    <p ng-hide="active">Please click a menu item</p>
    <p ng-show="active">you chose<b>{{active}}</b></p>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</body>
</html>